GregWebServiceStub/src/main/resources/GregService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.greg.appfactory.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.greg.appfactory.wso2.org">
    <wsdl:documentation>GregService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.greg.appfactory.wso2.org">
            <xs:element name="getAppInfoArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppInfoArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAppInfoArtifactRequest">
        <wsdl:part name="parameters" element="ns:getAppInfoArtifact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAppInfoArtifactResponse">
        <wsdl:part name="parameters" element="ns:getAppInfoArtifactResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GregServicePortType">
        <wsdl:operation name="getAppInfoArtifact">
            <wsdl:input message="ns:getAppInfoArtifactRequest" wsaw:Action="urn:getAppInfoArtifact"></wsdl:input>
            <wsdl:output message="ns:getAppInfoArtifactResponse" wsaw:Action="urn:getAppInfoArtifactResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GregServiceSoap11Binding" type="ns:GregServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getAppInfoArtifact">
            <soap:operation soapAction="urn:getAppInfoArtifact" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GregServiceSoap12Binding" type="ns:GregServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getAppInfoArtifact">
            <soap12:operation soapAction="urn:getAppInfoArtifact" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GregServiceHttpBinding" type="ns:GregServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getAppInfoArtifact">
            <http:operation location="getAppInfoArtifact"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GregService">
        <wsdl:port name="GregServiceHttpsSoap11Endpoint" binding="ns:GregServiceSoap11Binding">
            <soap:address location="https://10.100.0.101:9443/services/GregService.GregServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="GregServiceHttpsSoap12Endpoint" binding="ns:GregServiceSoap12Binding">
            <soap12:address location="https://10.100.0.101:9443/services/GregService.GregServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="GregServiceHttpsEndpoint" binding="ns:GregServiceHttpBinding">
            <http:address location="https://10.100.0.101:9443/services/GregService.GregServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>